<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZfmeAAWO7xWzKsmuv0r3W7DySClgf60k</string>
	<key>GCM_SENDER_ID</key>
	<string>1084082778261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.clo</string>
	<key>PROJECT_ID</key>
	<string>clo-shopping-app</string>
	<key>STORAGE_BUCKET</key>
	<string>clo-shopping-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084082778261:ios:5eaf1150eaf4a576966b9c</string>
</dict>
</plist>